.button {
  display: inline-block;
  font-size: 1rem;
  color: $c-blue;
  line-height: 20px;
  font-weight: 600;
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  padding: 2rem;
  border: 2px solid $c-blue;
  transition: all $animation-time ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $c-white;
    background-color: $c-blue;
  }
}

.button-inverse {
    color: $c-white;
    border-color: $c-white;

    &:hover,
    &:focus,
    &:active {
        color: $c-blue;
        background-color: $c-white;
    }
}

.button-huge {
    margin-top: 40px;
    font-size: 1.2rem;
    padding: 3rem 6rem 3rem 6rem;
}

.button-small {

}

@media (max-width: 500px) {
  .button-huge{ padding:2rem 1.5rem; }
}
