.o-icon {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    fill: currentColor;

    svg {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
    }
  }

  .o-icon-2x,
  .o-icon-2x svg {
    width: 2em;
    height: 2em;
  }
