
body {
    padding: 0;
    margin: 0;
    background: $c-white;
    font-family: 'Montserrat', sans-serif;
  }
  * {
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  a,
  a:hover {
    text-decoration: none;
    outline: none;
  }


@include media('>1199px') {
  .container{ max-width:90%; }
}