.t-headline {
    font-family: 'Abril Fatface', cursive;
    font-size: 6.8vw;
    line-height: 1;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.t-headline-1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3.04vw;
    line-height: 1;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.t-headline-2 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.t-headline-3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.68vw;
    line-height: 44px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
