{% import 'macros/utils.twig' as utils %}

<div class="home__slider">
    <div class="container">
      <div id="banner-slider" class="owl-carousel owl-theme">
          <div class="item">
              <img class="home__slider__img" src="{{ theme.link }}/built/images/banner-img1.jpg" alt="" />
              <div class="home__slider-desc">
                  <h2 class="t-headline">Property Experts</h2>
              </div>
          </div>

          <div class="item">
              <img class="home__slider__img" src="{{ theme.link }}/built/images/banner-img1.jpg" alt="" />
              <div class="home__slider-desc">
                  <h2 class="t-headline">Property Experts</h2>
              </div>
          </div>

          <div class="item">
              <img class="home__slider__img" src="{{ theme.link }}/built/images/banner-img1.jpg" alt="" />
              <div class="home__slider-desc">
                  <h2 class="t-headline">Property Experts</h2>
              </div>
          </div>
      </div>

    <div class="home__slider-detailsblock">
      <p>
        <a href="#">08 8339 1040</a><br>
        <a href="#">enquire@hunthuntproperty.com.au</a>
      </p>
      <div class="home__slider-socialblock">
        <a href="{{options.facebook_link}}" target="_blank">{{ utils.icon('facebook') }}</a>
        <a href="{{options.instagram_link}}" target="_blank">{{ utils.icon('instagram') }}</a>
        <a href="{{options.twitter_link}}" target="_blank">{{ utils.icon('twitter') }}</a>
        <a href="{{options.youtube_link}}" target="_blank">{{ utils.icon('youtube') }}</a>
      </div>
    </div>
    </div>
  </div>
