<!doctype html>
<html class="no-js" {{site.language_attributes}}>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{wp_title}}</title>

    <script>
      var themeVars = {
        siteUrl: "{{site.url}}",
        themeLink: "{{theme.link}}"
      }
    </script>

    {% include('header.twig') %}
    {% block headClose %}{% endblock %}
    {{ wp_head }}
  </head>
  <body class="{{body_class}}" data-icons="{{ 'icons.svg' | asset_url }}">
    <!-- Header Start -->
    <nav class="navbar navbar-expand-lg navbar-header">
      <a class="navbar-brand" href="{{site.url}}"><img src="{{ 'images/logo.png' | asset_url }}" alt="" /></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsibleNavbar" style="">
        <ul class="navbar-nav">
          {% for item in menu.items %}
              {% if item.children %}
                {% set menuliClass = 'dropdown' %}
                {% set menuaClass = 'dropdown-toggle' %}
                {% set menuaAttr = 'role="button" data-toggle="dropdown" aria-haspopup="true"' %}
              {% else %}
                {% set menuliClass = '' %}
                {% set menuaClass = '' %}
                {% set menuaAttr = '' %}
              {% endif %}
              <li class="nav-item {{menuliClass}} {{ item.classes|join(' ') }}">
                  <a class="nav-link {{menuaClass}}" href="{{ item.url }}" {{menuaAttr}}>{{ item.title }}</a>
                  {% if item.children %}
                      <div class="dropdown-menu">
                          {% for child in item.children %}
                                <a class="dropdown-item" href="{{ child.url }}">{{ child.title }}</a>
                          {% endfor %}
                      </div>
                  {% endif %}
              </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <!-- Header End -->

    {% block main %}{% endblock %}

    {% block footerClose %}{% endblock %}
    {% include('footer.twig') %}
    {{wp_footer}}
  </body>
</html>
