<!-- Footer Start -->
    <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer__logo"><img src="{{options.footer_logo}}" alt="" /></div>
        </div>

        <div class="col-lg-8">
          <div class="footer__rt-block">
            <div class="footer__link-block">
              {% for item in footerMenu.items %}
                <a class="footer_link {{menuaClass}}" href="{{ item.url }}" {{menuaAttr}}>{{ item.title }}</a>
              {% endfor %}
            </div>
            <p>&copy; {{ "now"|date('Y') }} {{options.copyright_info}} <br>Licence #</p>
          <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- Footer End -->
