
{% extends 'base.twig' %}


{% block main %}
<!-- Inner Banner Start -->
  <div class="inner__banner">
    <div class="container">
      <div class="inner__banner-bannerblock">
        <img src="{{TimberImage(staffPage.banner_image).src}}" alt="" />
        <div class="inner__banner-desc">
          <h2 class="t-headline">{{staffPage.title}}</h2>
        </div>
      </div>
    </div>
  </div>
<!-- Inner Banner End -->


<!-- Staff Archive Start -->
  <div class="staff__archiveblock">
    <div class="container">
      <div class="row">

      {% for staff in staff%}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="staff__archiveblock-block">
            <a href="{{TimberPost(staff.ID).link}}">
              <div class="img-block">
                <img class="rounded-circle" src="{{TimberImage(staff.profile_image).src|resize(432,432)}}" alt="" />
              </div>
              <h3 class="t-headline-3">{{staff.post_title}}</h3>
              <p>{{staff.designation}}</p>
            </a>
          </div>
        </div>

      {% endfor %}

      

        

        

      

       

      

        
      </div>
    </div>
  </div>
<!-- Staff Archive End -->
{% endblock %}
