
{% extends 'base.twig' %}


{% block main %}
   
<!-- Banner Start -->
  <div class="home__slider inner__slider">
    <div class="container">
      <div id="banner-slider" class="owl-carousel owl-theme">
          {% for item in rent.get_field('banner') %}
          <div class="item">
              <img class="home__slider__img" src="{{TimberImage(item.banner_image).src}}" alt="" />
              <div class="home__slider-desc">
                  <h2 class="t-headline">{{ item.banner_content }}</h2>
              </div>
          </div>
          {% endfor %}
          
      </div>
    </div>
  </div>
<!-- Banner End -->

<!-- Featured Properties Start -->
  <div class="featured__properties featured__properties-inner">
    <div class="featured__properties-titleblock">
      <div class="container">
          <h2 class="t-headline-1">Rental Listings</h2>
          <div class="rt-panel">
            <a id="sort-props" href="javascript:void(0)">Sort by</a>
          </div>
      <div class="clearfix"></div>
      </div>
    </div>

    <div class="featured__properties-thumbblock">
      <div class="row" id="list">

        {% set count = 1 %}
        {% for property in properties %}
        <div class="col-lg-4 listing-item" data-prop={{count}}>
          <div class="block">
            <h3 class="t-headline-3">{{property.post_title}}</h3>
            <p>{{property.sub_title}}</p>
            <div class="img-block">
              <img src="{{TimberImage(property.feature_image).src|resize(814,501)}}" alt="" />
              <div class="more-hover">
                <a href="{{TimberPost(property.ID).link}}" class="button button-inverse">See More</a>
              </div>
            </div>
            <div class="icon-block">
              <ul>
                <li>
                  <img src="{{ theme.link }}/built/images/icon1.png" alt="" />
                  <span>{{property.bedroom}}</span>
                </li>
                <li>
                  <img src="{{ theme.link }}/built/images/icon2.png" alt="" />
                  <span>{{property.bathroom}}</span>
                </li>
                <li>
                  <img src="{{ theme.link }}/built/images/icon3.png" alt="" />
                  <span>{{property.living_room}}</span>
                </li>
                <li>
                  <img src="{{ theme.link }}/built/images/icon5.png" alt="" />
                  <span>{{property.dining_room}}</span>
                </li>
                <li>
                  <img src="{{ theme.link }}/built/images/icon4.png" alt="" />
                  <span>{{property.garage}}</span>
                </li>
              </ul>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
      {% set count = count + 1 %}
      {% endfor %}
      </div>
      

      <div class="pagination-block">
        <div class="tool-pagination">
            {% if properties.pagination.prev %}
                <a href="{{properties.pagination.prev.link}}" class="prev {{properties.pagination.prev.link|length ? '' : 'invisible'}}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            {% endif %}
            <ul class="pages">
                {% for page in properties.pagination.pages %}
                    <li>
                        {% if page.link %}
                            <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                        {% else %}
                            <span class="{{page.class}}">{{page.title}}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if properties.pagination.next %}
                <a href="{{properties.pagination.next.link}}" class="next {{properties.pagination.next.link|length ? '' : 'invisible'}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
<!-- Featured Properties End -->

{% endblock %}
