
{% extends 'base.twig' %}


{% block main %}


<!-- Inner Banner Start -->
  <div class="inner__banner">
    <div class="container">
      <div class="inner__banner-bannerblock">

        
        {% if page.banner_image is not empty %}
        	<img src="{{TimberImage(page.banner_image).src}}" alt="" />
      	{% else %}
      		<img src="{{ theme.link }}/built/images/banner-img1.jpg" alt="" />
      	{% endif %}

        <div class="inner__banner-desc">
          <h2 class="t-headline">{{page.title}}</h2>
        </div>
      </div>
    </div>
  </div>
<!-- Inner Banner End -->

<!-- Default Start -->
  <div class="default__topblock">
      <div class="default__topblock-imgblock">
          <img src="{{TimberImage(page.content_image).src}}" alt="" />
      </div>

      <div class="default__topblock-textblock">
          {{page.content}}
      </div>
  <div class="clearfix"></div>
  </div>
<!-- Default End -->

{% endblock %}
