{% extends 'base.twig' %}
{% import 'macros/utils.twig' as utils %}

{% block main %}
<!-- Banner Start -->
  <div class="home__slider">
    <div class="container">
      <div id="banner-slider" class="owl-carousel owl-theme">
          {% for item in page.get_field('banner') %}
            <div class="item">
                <img class="home__slider__img" src="{{TimberImage(item.banner_image).src}}" alt="" />
                <div class="home__slider-desc">
                    <h2 class="t-headline">{{ item.banner_content }}</h2>
                </div>
            </div>
        {% endfor %}
      </div>

    <div class="home__slider-detailsblock">
      <p>
        <a href="tel:{{options.phone_number}}">{{options.phone_number}}</a><br>
        <a href="mailto:{{options.email_address}}">{{options.email_address}}</a>
      </p>
      <div class="home__slider-socialblock">
        <a href="{{options.facebook_link}}" target="_blank">{{ utils.icon('facebook') }}</a>
        <a href="{{options.instagram_link}}" target="_blank">{{ utils.icon('instagram') }}</a>
        <a href="{{options.twitter_link}}" target="_blank">{{ utils.icon('twitter') }}</a>
        <a href="{{options.youtube_link}}" target="_blank">{{ utils.icon('youtube') }}</a>
      </div>
    </div>
    </div>
  </div>
<!-- Banner End -->

<!-- Property Managment Start -->
  <div class="property__management">
    <div class="property__management-imgblock">
      <img src="{{TimberImage(page.property_managment_image).src}}" />
    </div>
    <div class="property__management-textblock">
      {{page.property_managment_content}}

      <a href="{{site.url}}/property-management" class="button button-huge">View our services</a>
    </div>
  </div>
<!-- Property Managment End -->

<!-- Featured Properties Start -->
  <div class="featured__properties">
    <div class="container">
      <h2 class="t-headline-1">Featured Properties</h2>
    </div>

    <div class="featured__properties-thumbblock">
      <div class="row">

        {% for property in properties %}
        <div class="col-lg-4">
          <div class="block">
            <h3 class="t-headline-3">{{property.post_title}}</h3>
            <p>{{property.sub_title}}</p>
            <div class="img-block">
              <img src="{{TimberImage(property.feature_image).src|resize(814,501)}}" alt="" />
              <div class="more-hover">
                <a href="{{TimberPost(property.ID).link}}" class="button button-inverse">See More</a>
              </div>
            </div>
            <div class="icon-block">
              <ul>
                <li>
                  <img src="{{ theme.link }}/built/images/icon1.png" alt="" />
                  <span>{{property.bedroom}}</span>
                </li>
                <li>
                  <img src="{{ theme.link }}/built/images/icon2.png" alt="" />
                  <span>{{property.bathroom}}</span>
                </li>
                <li>
                  <img src="{{ theme.link }}/built/images/icon3.png" alt="" />
                  <span>{{property.living_room}}</span>
                </li>
                <li>
                  <img src="{{ theme.link }}/built/images/icon4.png" alt="" />
                  <span>{{property.garage}}</span>
                </li>
              </ul>
            <div class="clearfix"></div>
            </div>
          </div>
        </div>
      {% endfor %}


      </div>
    </div>

    <div class="featured__properties-linkblock">
      <div class="container">
        <a href="{{site.url}}/rent" class="button button-huge">View all listings</a>
      </div>
    </div>
  </div>
<!-- Featured Properties End -->

{% endblock %}
