{% extends 'base.twig' %}


{% block main %}

<!-- Contact Banner Start -->
  <div class="contact__banner">
    <div class="container">
      <h2>{{contact.title}}</h2>
    </div>
  </div>
<!-- Contact Banner End -->

<!-- Contact Start -->
  <div class="contact__block">
    <div class="contact__block-mapblock">
      <div class="acf-map">
      <div class="marker" data-lat="{{contact.map.lat}}" data-lng="{{contact.map.lng}}"></div>
      </div>
    </div>

    <div class="contact__block-textblock">
      {{contact.content}}

      <div class="contact__block-formblock">
      
      {{ function('do_shortcode', '[contact-form-7 id="119" title="Contact form"]') }}

      </div>
    </div>
  <div class="clearfix"></div>
  </div>
<!-- Contact End -->

{% endblock %}