{% extends 'base.twig' %}


{% block main %}
<!-- Inner Banner Start -->
  <div class="inner__banner">
    <div class="container">
      <div class="inner__banner-bannerblock">
        <img src="{{ theme.link }}/built/images/inner-banner.jpg" alt="" />
        <div class="inner__banner-desc">
          <h2 class="t-headline">{{sfaffSingle.post_title}}</h2>
        </div>
      </div>
    </div>
  </div>
<!-- Inner Banner End -->

<!-- Single Staff Start -->
  <div class="single__staffblock">
    <div class="single__staffblock-imgblock">
      <img src="{{sfaffSingle.get_field('profile_image')|resize (1251,1640)}}" alt="" />
    </div>

    <div class="single__staffblock-textblock">
      <h2 class="t-headline-1">{{sfaffSingle.get_field('designation')}}</h2>
      {{sfaffSingle.post_content}}
      <a href="{{site.url}}/key-staff" class="button button-huge">Back to Key Staff</a>
    </div>
  <div class="clearfix"></div>
  </div>
<!-- Single Staff End -->

{% endblock %}