{% extends 'base.twig' %}


{% block main %}

<!-- Inner Banner Start -->
  <div class="inner__banner">
    <div class="container">
      <div class="inner__banner-bannerblock">
        <img src="{{TimberImage(property.feature_image).src|resize(2100,1021)}}" alt="" />
        <div class="inner__banner-desc">
          <h2 class="t-headline">{{property.title}}</h2>
          <p>{{property.sub_title}}</p>
        </div>
      </div>
    </div>
  </div>
<!-- Inner Banner End -->

<!-- Rental Single Start -->
  <div class="rental__singleblock">
    <div class="rental__singleblock-mapblock">
      <div class="acf-map">
      <div class="marker" data-lat="{{property.address.lat}}" data-lng="{{property.address.lng}}"></div>
      </div>
    </div>

    <div class="rental__singleblock-textblock">
      <h2 class="t-headline-1">For Lease ${{property.lease_price}}pw</h2>
      <div class="rental__singleblock-iconblock">
        <ul>
          <li><img src="{{ theme.link }}/built/images/icon1.png" alt="" /> <span>{{property.bedroom}}</span></li>
          <li><img src="{{ theme.link }}/built/images/icon2.png" alt="" /> <span>{{property.bathroom}}</span></li>
          <li><img src="{{ theme.link }}/built/images/icon3.png" alt="" /> <span>{{property.living_room}}</span></li>
          <li><img src="{{ theme.link }}/built/images/icon4.png" alt="" /> <span>{{property.garage}}</span></li>
          <li><img src="{{ theme.link }}/built/images/icon5.png" alt="" /> <span>{{property.dining_room}}</span></li>
        </ul>
      <div class="clearfix"></div>
      </div>

      <h3 class="t-headline-2">Beachside bliss</h3>
      {{property.property_details}}

      <div class="rental__singleblock-optionblock">
        <ul>
          {% for item in property.property_options %}
          <li>{{item.option}}</li>
          {% endfor %}
        </ul>
      <div class="clearfix"></div>
      </div>

      <a href="#" class="button button-huge enquire-btn" data-toggle="modal" data-target="#exampleModal">Enquire</a>

      <div class="rental__singleblock-bottomblock">
        <div class="img-panel">
          <img class="rounded-circle" src="{{TimberImage(property.contact_agent_image).src|resize(432,432)}}" alt="" />
        </div>

        <div class="text-panel">
          <h3 class="t-headline-2">Contact agent</h3>
          <p>{{property.contact_agent_name}}<br>
          M: <a href="tel:{{property.contact_agent_phone_number}}">{{property.contact_agent_phone_number}}</a><br>
          <a href="mailto:{{property.contact_agent_email}}">{{property.contact_agent_email}}</a></p>
        </div>
      <div class="clearfix"></div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
<!-- Rental Single End -->

<!-- Rental Single Slider Start -->
  <div class="rental__single-slider">
    <div class="container">
      <div id="image-slider" class="owl-carousel owl-theme">
          {% for gallery in property.property_gallery %}
          <div class="item"><img src="{{TimberImage(gallery).src|resize(2100,1021)}}" alt="" /></div>
          {% endfor %}
      </div>
    </div>
  </div>
<!-- Rental Single Slider End -->



<!-- Modal -->
<div class="modal form-popup fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enquire Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ function('do_shortcode', '[contact-form-7 id="166" title="Enquiry form"]') }}
        <input type="hidden" id="pname" value="{{property.title}}">
      </div>
    </div>
  </div>
</div>


{% endblock %}