.home__slider {
  padding: 0 0 45px 0;
  margin: 0;
  background-color: $c-blue;

  &__img {
    width: 100%;
    height: auto;
  }
}

.home__slider-desc {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 40%;
  text-align: center;

  h2{ color: $c-white; }
}

.home__slider-detailsblock {
  padding: 0;
  margin: 0;
  p {
    font-size: 18px;
    color: $c-smoke;
    line-height: 27px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    a {
      color: $c-smoke;
    }
    a:hover {
      color: $c-light-gray;
    }
  }
}

.home__slider-socialblock {
  padding: 60px 0 0 0;
  margin: 0;
  a {
    display: inline-block;
    font-size: 30px;
    color: $c-white;
    padding: 0;
    margin: 0 30px 0 0;
  }
  a:hover {
    color: $c-light-gray;
  }
}



.inner__banner{ padding:0 0 180px 0; margin:0; background:$c-blue;
  & img{ width:100%; height:auto; }
}
.inner__banner-desc{ width:100%; position:absolute; left:0; bottom:35%; text-align:center;
  h2{ color:$c-white; }
  p{ font-size:28px; color:$c-white; line-height:30px; font-weight:400; padding:50px 0 0 0; margin:0; }
}
.inner__banner-bannerblock{ padding:0; margin:0; position:relative; }