
/*=============== Contact Banner Start ================*/
.contact__banner {
    padding: 150px 0 305px 0;
    margin: 0;
    background: $c-blue;
    text-align: center;
    h2 {
        font-family: 'Abril Fatface', cursive;
        font-size: 6.8vw;
        color: $c-white;
        line-height: 1;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }
}

/*=============== Contact Start ================*/
.contact__block {
    padding: 0;
    margin: 0;
    position: relative;
}

.contact__block-mapblock {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 0;
    .acf-map {
        width: 100%;
        height: 100%;
        border: none;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
.contact__block-textblock {
    float: right;
    width: 50%;
    padding: 130px 10% 580px 5%;
    margin: 0;
    h2 {
        color: #232f3e;
        padding: 0 0 40px 0;
        margin: 0 0 70px 0;
        position: relative;
        span {
            display: block;
        }
    }
    h2:after {
        content: '';
        width: 105px;
        height: 7px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #232f3e;
    }
    p {
        font-size: 16px;
        color: $c-blue;
        line-height: 36px;
        font-weight: 400;
        padding: 0 0 45px 0;
        margin: 0;
    }

    .contact__block-formblock {
        padding: 50px 0 0 0;
        margin: 0;
        .block {
            padding: 0 0 20px 0;
            margin: 0;
        }
        h6 {
            font-size: 18px;
            color: #232f3e;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            padding: 0 0 5px 0;
            margin: 0;
        }
        .form-control {
            width: 100%;
            height: 64px;
            background: #f5f5f5;
            box-shadow: none;
            border-radius: 0;
            border: none;
        }
        textarea.form-control {
            height: 205px;
            resize: none;
        }
        .submit-btn {
            display: block;
            width: 100%;
            margin: 30px 0 0 0;
            background: none;
            cursor: pointer;
        }
        .submit-btn:hover,
        .submit-btn:focus {
            background: $c-blue;
        }
    }
}
