.featured__properties {
    padding: 130px 0 190px 0;
    margin: 0;

    h2 {
        color: $c-blue;
        padding: 0 0 40px 0;
        margin: 0 0 180px 0;
        position: relative;
    }
    h2:after {
        content: '';
        width: 105px;
        height: 7px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $c-blue;
    }
}

.featured__properties-titleblock {
    padding: 0 0 170px 0;
    margin: 0;
    h2 {
        float: left;
        margin: 0;
    }
    .rt-panel {
        float: right;
        padding: 10px 0 0 0;
        margin: 0;
        a {
            display: inline-block;
            font-size: 18px;
            color: #304155;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            padding: 10px 60px 10px 0;
            margin: 0;
            background: url(../images/sort-icon.png) no-repeat center right;
        }
    }
}

.featured__properties-thumbblock {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;

    .block {
        padding: 0 0 30px 0;
        margin: 0;
    }

    h3 {
        color: $c-blue;
        padding: 0 0 15px 0;
        margin: 0;
    }

    p {
        font-size: 19px;
        color: $c-blue;
        line-height: 21px;
        font-weight: 400;
        padding: 0 0 40px 0;
        margin: 0;
    }

    .img-block {
        padding: 0;
        margin: 0;
        line-height: 0;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
        .more-hover {
            width: 100%;
            height: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(48, 65, 85, 0.8);
            padding: 24% 0 0 0;
            opacity: 0;
            visibility: hidden;
            transition: all 600ms ease-in-out;
        }
    }
    .block:hover {
        .img-block {
            .more-hover {
                height: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .icon-block {
        padding: 35px 0 0 0;
        margin: 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                padding: 0 15px;
                margin: 0;
                span {
                    display: block;
                    font-size: 20px;
                    color: $c-blue;
                    line-height: 22px;
                    font-weight: 300;
                    padding: 10px 0 0 0;
                    margin: 0;
                }
            }
        }
    }
}

.featured__properties-linkblock {
    padding: 140px 0 0 0;
    margin: 0;
    text-align: center;
    a {
        margin: 0;
    }
}

.featured__properties.featured__properties-inner {
    padding: 130px 0 190px 0;
    margin: 0;
    .featured__properties-thumbblock {
        .block {
            margin: 0 0 135px;
        }
        .pagination-block {
            img {
                width: auto;
                max-width: 90%;
                height: auto;
            }
            .tool-pagination {
                padding: 0;
                margin: 0;
                .prev,
                .next {
                    display: inline-block;
                    font-size: 28px;
                    color: $c-blue;
                    line-hight: 30px;
                    font-weight: 400;
                    padding: 0;
                    margin: 0;
                    &:hover {
                        color: $c-gray;
                    }
                }

                ul.pages {
                    display: inline-block;
                    padding: 0;
                    margin: 0 30px;
                    li {
                        display: inline-block;
                        font-size: 28px;
                        color: $c-blue;
                        line-hight: 30px;
                        font-weight: 400;
                        padding: 0 30px 0 10px;
                        margin: 0;
                        background: url(../images/line-img.png) no-repeat center
                            right;
                        a {
                            color: $c-blue;
                            &:hover {
                                color: $c-gray;
                            }
                        }
                        span.current {
                            color: $c-gray;
                        }
                    }
                    li:last-child {
                        background: none;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}
