#footer {
  padding: 110px 0;
  margin: 0;
  background: $c-blue;
}

.footer__logo {
  padding: 0;
  margin: 0;
  line-height: 0;
  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

.footer__rt-block {
  text-align: right;
  padding: 30px 0 0 0;
  margin: 0;
  .footer__link-block {
    padding: 0 0 35px 0;
    margin: 0;
    .footer_link {
      display: inline-block;
      margin: 0 30px;
      font-size: 19px;
      color: $c-white;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 3.2px;
      text-transform: uppercase;
    }
    .footer_link:first-child{ margin-left:0; }
    .footer_link:last-child{ margin-right:0; }
    .footer_link:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  p {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 39px;
    font-weight: 400;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
}