.navbar-header {
  padding: 45px 55px 60px 55px;
  margin: 0;
  background-color: $c-blue;
  .navbar-brand {
    padding: 0;
    margin: 0;
    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }
  .navbar-nav {
    display: inline-block;
    width: 100%;
    text-align: right;
    li {
      display: inline-block;
      padding: 0 32px;
      margin: 0;
    }
    li:first-child {
      padding-left: 0;
    }
    li:last-child {
      padding-right: 0;
    }
    li a.nav-link {
      font-size: 19px;
      color: $c-white;
      line-height: 21px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      padding: 0 0 17px 0 !important;
      margin: 0;
      position: relative;
    }
    li a.nav-link:before {
      content: '';
      width: 0px;
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background: $c-white;
      transition: all $animation-time ease-in-out;
      border: none;
    }
    li a.nav-link:hover:before {
      width: 40px;
    }
    li.current-menu-item a.nav-link:before {
      width: 40px;
    }
    li.current-menu-parent a.nav-link:before {
      width: 40px;
    }
    .dropdown-menu {
      width: 280px;
      background-color: $c-blue;
      left: -90px;
      border: none;
      padding-top: 50px;
      a {
        font-size: 16px;
        color:#fff;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 15px;
      }
      a:after {
        display: none;
      }
      a:hover {
        background: #485a70;
      }
    }
  }
}