.property__management {
    background-color: $c-gray;
    display: flex;
    flex-wrap: wrap;
}

.property__management-imgblock {
    width: 50%;
    padding: 0;
    margin: 0;
    line-height: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.property__management-textblock {
    width: 50%;
    padding: 110px 5% 50px 5%;

    h2 {
        color: $c-blue;
        padding: 0 0 40px 0;
        margin: 0 0 100px 0;
        position: relative;

        &:after {
            content: '';
            width: 105px;
            height: 7px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $c-blue;
        }
    }


    h3 {
        color: $c-blue;
        padding: 0 0 50px 0;
    }

    p {
        font-size: 16px;
        color: $c-blue;
        line-height: 36px;
        font-weight: 400;
        padding: 0 9% 45px 0;
        margin: 0;
    }
}
