.rental__singleblock {
    padding: 0;
    margin: 0;
    position: relative;
}

.rental__singleblock-mapblock {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 0;
    .acf-map {
        width: 100%;
        height: 100%;
        border: none;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

.rental__singleblock-textblock {
    float: right;
    width: 50%;
    padding: 135px 10% 95px 5%;
    margin: 0;
    h2 {
        color: #232f3e;
        padding: 0 0 40px 0;
        margin: 0 0 70px 0;
        position: relative;
    }
    h2:after {
        content: '';
        width: 105px;
        height: 7px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #232f3e;
    }

    .rental__singleblock-iconblock {
        padding: 0 0 60px 0;
        margin: 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                padding: 0 15px;
                margin: 0;
                text-align: center;
                span {
                    display: block;
                    font-size: 20px;
                    color: $c-blue;
                    line-height: 22px;
                    font-weight: 300;
                    padding: 10px 0 0 0;
                    margin: 0;
                }
            }
            li:first-child {
                padding-left: 0;
            }
            li:last-child {
                padding-right: 0;
            }
        }
    }

    h3 {
        color: $c-blue;
        padding: 0 0 50px 0;
        margin: 0;
    }
    p {
        font-size: 16px;
        color: $c-blue;
        line-height: 36px;
        font-weight: 400;
        padding: 0 0 45px 0;
        margin: 0;
        a {
            color: $c-blue;
        }
        a:hover {
            color: #21252a;
        }
    }

    .rental__singleblock-optionblock {
        padding: 0 0 70px 0;
        margin: 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                display: block;
                font-size: 16px;
                color: $c-blue;
                line-height: 20px;
                font-weight: 400;
                padding: 0 0 15px 50px;
                margin: 0;
                background: url(../images/arrow-icon1.png) no-repeat left 6px;
            }
        }
    }
    a.enquire-btn {
        padding: 3rem 10rem;
        margin: 0;
    }

    .rental__singleblock-bottomblock {
        padding: 160px 0 0 0;
        margin: 0;
        .img-panel {
            float: left;
            width: 300px;
            padding: 0;
            margin: 0;
            img {
                width: auto;
                max-width: 100%;
                height: auto;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
        .text-panel {
            float: left;
            padding: 60px 0 0 50px;
            margin: 0;
            p {
                padding: 0;
            }
        }
    }
}
