.staff__duoblock {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.staff__duoblock-block {
    width: 50%;
    padding: 0;
    margin: 0;
}
.staff__duoblock-imgblock {
    padding: 0;
    margin: 0;
    position: relative;
    line-height: 0;
    img {
        width: 100%;
        height: auto;
    }
    h3 {
        color: $c-white;
        padding: 0 0 40px 0;
        position: absolute;
        left: 10%;
        bottom: 65px;
    }
    h3:after {
        content: '';
        width: 105px;
        height: 7px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $c-white;
    }
}
.staff__duoblock-textblock {
    padding: 90px 20% 155px 10%;
    margin: 0;
    p {
        font-size: 16px;
        color: #232f3e;
        line-height: 37px;
        font-weight: 400;
        padding: 0 0 50px 0;
        margin: 0;
    }
    a {
        margin: 70px 0 0 0;
    }
}
.staff__duoblock-block:nth-child(2) .staff__duoblock-textblock {
    background: $c-gray;
}
