.single__staffblock {
    padding: 0;
    margin: 0;
    background: $c-gray;
    display: flex;
    flex-wrap: wrap;
}

.single__staffblock-imgblock {
    width: 50%;
    padding: 0;
    margin: 0;
    line-height: 0;
    img {
        width: 100%;
        height: auto;
    }
}
.single__staffblock-textblock {
    width: 50%;
    padding: 130px 10% 0 5%;
    margin: 0;
    h2 {
        color: #232f3e;
        padding: 0 0 40px 0;
        margin: 0 0 90px 0;
        position: relative;
    }
    h2:after {
        content: '';
        width: 105px;
        height: 7px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #232f3e;
    }
    p {
        font-size: 16px;
        color: #232f3e;
        line-height: 37px;
        font-weight: 400;
        padding: 0 0 50px 0;
        margin: 0;
    }
    a {
        margin: 100px 0 0 0;
    }
}
