.staff__archiveblock {
    padding: 190px 0 95px 0;
    margin: 0;
    text-align: center;
}

.staff__archiveblock-block {
    padding: 0 0 120px 0;
    margin: 0;
    a {
        display: block;
        padding: 0;
        margin: 0;
        transition: all 600ms ease-in-out;
    }
    .img-block {
        padding: 0 0 45px 0;
        margin: 0;
        line-height: 0;
        img {
            width: auto;
            max-width: 100%;
            height: auto;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all 600ms ease-in-out;
        }
    }
    h3 {
        color: $c-blue;
        padding: 0 0 15px 0;
        margin: 0;
    }
    p {
        font-size: 19px;
        color: $c-blue;
        line-height: 21px;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }
    a:hover .img-block {
        img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }
}
