@import 'variables';

@import 'include-media/dist/include-media';
@import 'bootstrap/scss/bootstrap';
@import 'owl.carousel/src/scss/owl.carousel';

@import 'libs/**/*.scss';

@import 'base/**/*.scss';
@import 'modules/**/*.scss';
@import 'objects/**/*.scss';

/*=============== Rental Single Slider Start ================*/
.rental__single-slider {
    padding: 185px 0 130px 0;
    margin: 0;
    background: $c-gray;
    img {
        width: 100%;
        height: auto;
    }
}

/*=============== Default Start ================*/
.default__topblock {
    padding: 0;
    margin: 0;
    background: $c-gray;
    display: flex;
    flex-wrap: wrap;
}
.default__topblock-imgblock {
    width: 50%;
    padding: 0;
    margin: 0;
    line-height: 0;
    img {
        width: 100%;
        height: auto;
    }
}
.default__topblock-textblock {
    width: 50%;
    padding: 130px 10% 0 5%;
    margin: 0;
    h2 {
        color: #232f3e;
        padding: 0 0 40px 0;
        margin: 0 0 90px 0;
        position: relative;
    }
    h2:after {
        content: '';
        width: 105px;
        height: 7px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #232f3e;
    }
    h3 {
        padding: 0 0 30px 0;
    }
    p {
        font-size: 16px;
        color: #232f3e;
        line-height: 37px;
        font-weight: 400;
        padding: 0 0 50px 0;
        margin: 0;
    }
    a {
        margin: 50px 0 0 0;
    }
}

.owl-dots {
    text-align: center;
    padding: 38px 0 0 0;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $c-white;
    outline: none;
    margin: 0 4px;
    vertical-align: top;
}
.owl-carousel .owl-nav button.owl-prev.active,
.owl-carousel .owl-nav button.owl-next.active,
.owl-carousel button.owl-dot.active {
    background: $c-white;
}

.rental__single-slider .owl-carousel .owl-nav button.owl-prev,
.rental__single-slider .owl-carousel .owl-nav button.owl-next,
.rental__single-slider .owl-carousel button.owl-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #304155;
    outline: none;
    margin: 0 4px;
    vertical-align: top;
}
.rental__single-slider .owl-carousel .owl-nav button.owl-prev.active,
.rental__single-slider .owl-carousel .owl-nav button.owl-next.active,
.rental__single-slider .owl-carousel button.owl-dot.active {
    background: #304155;
}

div.wpcf7-response-output {
    border: none !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
}
.form-popup {
    .form-control {
        height: 45px;
        box-shadow: none;
        border: 1px solid #e0e0e0;
    }
    textarea.form-control {
        height: 100px;
        resize: none;
    }
    .submit-btn {
        float: right;
        padding: 1rem 2rem;
        margin-top: 10px;
        cursor: pointer;
    }
}

/*=============== Media Query ================*/
@media (max-width: 1800px) {
    .property__management-textblock {
        padding: 50px 5% 50px 5%;
        h2 {
            margin: 0 0 60px 0;
        }
        h3 {
            padding: 0 0 20px 0;
        }
    }

    .single__staffblock-textblock {
        padding: 70px 10% 0 5%;
        h2 {
            padding: 0 0 20px 0;
            margin: 0 0 40px 0;
        }
        a {
            margin: 30px 0 0 0;
        }
    }

    .default__topblock-textblock {
        padding: 70px 10% 0 5%;
        h2 {
            padding: 0 0 20px 0;
            margin: 0 0 40px 0;
        }
        a {
            margin: 30px 0 0 0;
        }
    }

    .rental__singleblock-textblock {
        padding: 135px 5% 95px 5%;
    }
}

@media (max-width: 1700px) {
    .navbar-header {
        .navbar-nav {
            li {
                padding: 0 12px;
                a.nav-link {
                    font-size: 16px;
                }
            }
        }
    }

    .property__management-textblock {
        h2 {
            padding: 0 0 20px 0;
            margin: 0 0 40px 0;
        }
        h3 {
            padding: 0 0 20px 0;
        }
        p {
            padding: 0 3% 35px 0;
        }
    }

    .single__staffblock-textblock {
        padding: 50px 5% 50px 5%;
    }
    .default__topblock-textblock {
        padding: 50px 5% 50px 5%;
    }
}

@media (max-width: 1600px) {
    .rental__singleblock-textblock {
        .rental__singleblock-bottomblock {
            .img-panel {
                width: 270px;
            }
        }
    }
}

@media (max-width: 1500px) {
    .navbar-header {
        .navbar-brand {
            width: 350px;
        }
    }

    .featured__properties.featured__properties-inner {
        .featured__properties-thumbblock {
            .icon-block {
                ul {
                    li {
                        width: 18%;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .navbar-header {
        .navbar-brand {
            width: 300px;
        }

        .navbar-nav {
            li {
                padding: 0 10px;
                a.nav-link {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .navbar-header {
        flex-flow: wrap;
        justify-content: space-between;
        padding: 25px 25px 40px;
        .navbar-brand {
            width: 360px;
        }
        .navbar-toggler {
            display: block;
            color: $c-white;
            border: 1px solid $c-white;
            outline: none;
            .navbar-toggler-icon {
                background: url(../images/menu-icon.png) no-repeat center;
            }
        }
        .collapse:not(.show) {
            display: none !important;
        }
        .navbar-collapse {
            display: block !important;
            width: 100%;
            padding: 20px 0 0 0;
            margin: 10px 0 0 0;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
        .navbar-nav {
            display: block;
            width: 100%;
            text-align: left;
            li {
                display: block;
                padding: 0;
                a.nav-link {
                    padding: 8px 0 !important;
                }
                a.nav-link:before {
                    right: inherit;
                }
                a.nav-link:hover:before {
                    width: 100%;
                }
                a.nav-link.active:before {
                    width: 100%;
                }
            }
            .dropdown-menu {
                position: relative;
                width: 100%;
                left: 0;
                padding-top: 0;
                a {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: left;
                }
            }
        }
    }

    .property__management-imgblock {
        width: 100%;
    }
    .property__management-textblock {
        width: 100%;
    }

    .featured__properties {
        padding: 70px 0 100px 0;
        h2 {
            padding: 0 0 30px 0;
            margin: 0 0 70px 0;
        }
    }

    .featured__properties-linkblock {
        padding: 70px 0 0 0;
    }

    .featured__properties-thumbblock {
        padding: 0 0 60px 0;
        .img-block {
            .more-hover {
                padding: 20% 0 0 0;
            }
        }
        .icon-block {
            ul {
                li {
                    width: 23%;
                    padding: 0 10px;
                    img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .featured__properties.featured__properties-inner {
        padding: 70px 0 100px 0;
        .featured__properties-thumbblock {
            .block {
                margin: 0 0 30px;
            }
        }
    }

    .featured__properties-titleblock {
        padding: 0 0 70px 0;
        h2 {
            margin: 0;
        }
    }

    .single__staffblock-imgblock {
        width: 100%;
    }
    .single__staffblock-textblock {
        width: 100%;
    }

    .default__topblock-imgblock {
        width: 100%;
    }
    .default__topblock-textblock {
        width: 100%;
    }

    .rental__singleblock-mapblock {
        width: 100%;
        height: 350px;
        position: relative;
    }
    .rental__singleblock-textblock {
        float: none;
        width: 100%;
        padding: 60px 5% 60px 5%;
        h2 {
            padding: 0 0 20px 0;
            margin: 0 0 40px 0;
        }
        .rental__singleblock-bottomblock {
            padding: 100px 0 0 0;
        }
    }

    .rental__single-slider {
        padding: 60px 0;
    }

    .staff__archiveblock {
        padding: 90px 0 20px 0;
    }
    .staff__archiveblock-block {
        h3 {
            font-size: 30px;
        }
    }

    .staff__duoblock-block {
        width: 100%;
    }
    .staff__duoblock-imgblock {
        h3 {
            font-size: 50px;
            left: 5%;
        }
    }
    .staff__duoblock-textblock {
        padding: 50px 5% 80px 5%;
        a {
            margin: 20px 0 0 0;
        }
    }

    .contact__banner {
        padding: 80px 0 120px 0;
    }

    .contact__block-mapblock {
        width: 100%;
        height: 350px;
        position: relative;
    }
    .contact__block-textblock {
        float: none;
        width: 100%;
        padding: 60px 5%;
        h2 {
            padding: 0 0 20px 0;
            margin: 0 0 40px 0;
        }
        .contact__block-formblock {
            padding: 20px 0 0 0;
        }
    }
}

@media (max-width: 991px) {
    .home__slider-detailsblock {
        padding: 20px 0 0 0;
    }
    .home__slider-socialblock {
        padding: 30px 0 0 0;
    }

    .property__management-textblock {
        h2 {
            font-size: 40px;
        }
    }

    .featured__properties {
        h2 {
            font-size: 40px;
        }
    }

    .featured__properties-thumbblock {
        h3 {
            font-size: 26px;
            line-height: 30px;
        }
        .img-block {
            .more-hover {
                padding: 26% 0 0;
            }
        }
    }

    #footer {
        padding: 50px 0;
        text-align: center;
    }
    .footer__rt-block {
        text-align: center;
        .footer__link-block {
            padding: 0 0 25px 0;
            .footer_link {
                margin: 0 15px;
            }
        }
    }

    .inner__banner {
        padding: 0 0 70px 0;
    }
    .inner__banner-desc {
        p {
            padding: 20px 0 0 0;
        }
    }

    .single__staffblock-textblock {
        h2 {
            font-size: 40px;
            line-height: 42px;
        }
    }

    .default__topblock-textblock {
        h2 {
            font-size: 40px;
            line-height: 42px;
        }
    }

    .rental__singleblock-textblock {
        h2 {
            font-size: 40px;
            line-height: 42px;
        }
        h3 {
            padding: 0 0 20px 0;
        }
    }

    .contact__block-textblock {
        h2 {
            font-size: 40px;
        }
    }
}

@media (max-width: 767px) {
    .footer__rt-block {
        .footer__link-block {
            .footer_link {
                font-size: 17px;
                line-height: 19px;
                margin: 0 10px;
            }
        }
        p {
            font-size: 17px;
            line-height: 19px;
        }
    }

    .rental__singleblock-textblock {
        .rental__singleblock-bottomblock {
            text-align: center;
            .img-panel {
                float: none;
                display: inline-block;
                max-width: 100%;
            }
            .text-panel {
                float: none;
                width: 100%;
                padding: 60px 0 0 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .navbar-header {
        .navbar-brand {
            width: 250px;
        }
    }

    .property__management-textblock {
        h2 {
            font-size: 30px;
            line-height: 32px;
        }
        h3 {
            font-size: 24px;
            line-height: 26px;
        }
    }

    .featured__properties {
        h2 {
            font-size: 30px;
            line-height: 32px;
        }
    }

    .featured__properties-titleblock {
        h2 {
            float: none;
        }
        .rt-panel {
            float: none;
            text-align: center;
            padding: 30px 0 0 0;
        }
    }

    .featured__properties-thumbblock {
        .img-block {
            .more-hover {
                padding: 20% 0 0;
            }
        }
    }

    .footer__rt-block {
        .footer__link-block {
            .footer_link {
                display: block;
                margin: 0 0 5px;
            }
        }
    }

    .inner__banner {
        padding: 0 0 70px 0;
    }
    .inner__banner-desc {
        p {
            font-size: 20px;
            line-height: 22px;
            padding: 10px 0 0 0;
        }
    }

    .rental__singleblock-mapblock {
        height: 250px;
    }
    .rental__singleblock-textblock {
        h2 {
            font-size: 30px;
            line-height: 32px;
        }
        h3 {
            font-size: 24px;
            line-height: 26px;
        }
        .rental__singleblock-iconblock {
            ul {
                li {
                    width: 18%;
                    padding: 0 10px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
        a.enquire-btn {
            padding: 2rem 3rem;
        }
    }

    .staff__duoblock-imgblock {
        h3 {
            font-size: 40px;
            padding: 0 0 20px 0;
        }
    }

    .contact__block-mapblock {
        height: 250px;
    }
    .contact__block-textblock {
        h2 {
            font-size: 30px;
        }
        .contact__block-formblock {
            textarea.form-control {
                height: 120px;
            }
        }
    }
}

@media (max-width: 400px) {
    .navbar-header {
        .navbar-brand {
            width: 180px;
        }
        .navbar-toggler {
            padding: 0.1rem 0.25rem;
        }
        .navbar-nav {
            li {
                a.nav-link {
                    letter-spacing: 1.5px;
                }
            }
        }
    }

    .home__slider-detailsblock {
        p {
            a {
                word-wrap: break-word;
            }
        }
    }
    .home__slider-socialblock {
        padding: 30px 0 0 0;
    }
}

/*===============  ================*/
