.rslides {
    margin: 0;
    }

  .rslides_container {
    position: relative;
    width: 100%;
    }

  .centered-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("themes.gif") no-repeat left top;
    margin-top: -45px;
    }

  .centered-btns_nav:active {
    opacity: 1.0;
    }

  .centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
    }

  .transparent-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
    display: block;
    background: #fff; /* Fix for IE6-9 */
    opacity: 0;
    filter: alpha(opacity=1);
    width: 48%;
    text-indent: -9999px;
    overflow: hidden;
    height: 91%;
    }

  .transparent-btns_nav.next {
    left: auto;
    right: 0;
    }

  .large-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    opacity: 0.6;
    text-indent: -9999px;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    background: #000 url("themes.gif") no-repeat left 50%;
    width: 38px;
    }

  .large-btns_nav:active {
    opacity: 1.0;
    }

  .large-btns_nav.next {
    left: auto;
    background-position: right 50%;
    right: 0;
    }

  .centered-btns_nav:focus,
  .transparent-btns_nav:focus,
  .large-btns_nav:focus {
    outline: none;
    }

  .centered-btns_tabs,
  .transparent-btns_tabs,
  .large-btns_tabs {
    margin-top: 10px;
    text-align: center;
    }

  .centered-btns_tabs li,
  .transparent-btns_tabs li,
  .large-btns_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
    }

  .centered-btns_tabs a,
  .transparent-btns_tabs a,
  .large-btns_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:1px solid #fff;
    display: inline-block;
    _display: block;
    *display: block;
    width: 20px;
    height: 20px;
    }

  .centered-btns_here a,
  .transparent-btns_here a,
  .large-btns_here a {
    background: #fff;
    }

.rental-single-slider .centered-btns_tabs a,
.rental-single-slider .transparent-btns_tabs a,
.rental-single-slider .large-btns_tabs a{ border-color:#304155;  } 

.rental-single-slider .centered-btns_here a,
.rental-single-slider .transparent-btns_here a,
.rental-single-slider .large-btns_here a {
  background: #304155;
  }